<h1>
<%= @project.name %>
</h1><hr>
<p>
<%= @project.content %>
</p>

<%= link_to 'Edit Project', edit_project_path(@project) %>

<%= link_to 'Create a task', new_project_task_path(@project)%>
<% tasks = @project.tasks %>
<%= render partial: 'tasks/lists', :locals => {:@tasks => tasks}%>
<br>
<% @project.comments.each do |c| %>
    <%= c.user.first_name %>:
    <%= c.subject %><br>
    <%= c.content %><hr>
<% end %>
<br>
<%= render partial: 'comments/form', :locals => {comment: @project.comments.build }%>

